{% extends "base.html.twig" %}

{% block pageTitle %}
    Factories list:<br>
    <a href="{{ path('app_data_factories_add') }}">
        <button class="btn btn-success">
            Create New factory
        </button>
    </a>
{% endblock %}

{% block body %}
    <table class="table">
        <tr>
            <th>
                Id.
            </th>
            <th>
                Factory name
            </th>
            <th>
                Address
            </th>
            <th>
                Edit
            </th>
        </tr>

        {% for factory in factories %}
            <tr>
                <td>
                    {{ factory.id }}
                </td>
                <td>
                    {{ factory.name }}
                </td>
                <td>
                    {{ factory.address }}
                </td>
                <td>                    
                    <a href="{{ path('app_data_factories_edit', { 'factoryId': factory.id }) }}">
                        <button class="btn btn-warning">
                            Edit
                        </button>
                    </a>
                </td>
            </tr>            
        {% endfor %}

    </table>
{% endblock %}