{% extends "base.html.twig" %}

{% block pageTitle %}
    Add new Contract for Employee: 
    <span style="color: black;">
        {{ employee.name }} {{ employee.surname }}
    </span>
    <br>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}